.title {

    text-align: center;

    margin-bottom: 20px!important;

    color: #515A5F;



}



.padd-bot {



        padding: 1em 2em;

		text-align:center;

		color: #515a5f;

}

.fh5co-cta{    margin-left: -74px;}

.fh5co-padd-top {padding-top: 0.2em!important; background: none;}



.fh5cobox{padding-bottom:15px; margin-left: 2.5em;}



.divider{height:5px; border-top: 1px dashed #dedede; padding-bottom:20px;}



.divider1{height:5px; border-top: 1px dashed #dedede; padding-top:5px; padding-bottom:5px;}



#gmap_canvas{border: 1px solid #b6b6b6;}



.info-box {

    text-align: center;

    margin: 30px 0;

}

.introtext{}



.fh5co-widget {

    color: #000;

    font-family: "Open Sans", Arial, sans-serif;

    font-weight: 400;

    margin: 0 0 0px 0;

    font-size: 17px!important;

    line-height: 23px!important;}





.text-edit p, .comment-body p {

    margin-bottom: 20px;

}

.info-box p {

        font-family: arial;

    font-size: 15px;

    margin-top: 5px;

    line-height: 21px;

	 color: #515A5F;

}



.fh5co-padd{ margin-left: 2em; margin-right: 2em;}



.mapouter{width:100%; text-align:center;}



.gmap_canvas {

    overflow: hidden;

     background: none!important;

    /* height: 500px; */

    width: 100%;

}

.content-box {  /*height: 19vh;*/}





.botpadd {height: 55.9vh;}



.botpadd1{height: 55.9vh;}



.testi-sec{

	display:flex;

}



.award-1{

margin-left:3em;



}

.award-copy{

text-align:center;

 margin: 30px 0;

  width: 186px;

}

.award-copy h3 {

font-size:17px;

line-height:25px;

 color: #515A5F;

 margin-bottom:15px;

}

.award-copy  p {

font-size: 14px;

 margin-top: 5px;

}



.modal-bttm{ padding: 15px 15px 40px 15px;}



.bot-text{color: #515a5f !important;  font-size: 14px; line-height: 18px; padding-left: 0px;

    padding-right: 0px;     margin-bottom: 7px;}

.bot-text1{color: #993333 !important;  font-size: 14px; line-height: 18px; padding-left: 0px;

    padding-right: 0px;     margin-bottom: 5px;}



.bot-text p { margin-bottom: 0px!important;}



.bot-text1 p { margin-bottom: 0px!important;}



.glyphsize{margin-top:318px; font-size: 22px;}



.lightbox-content {font-size: 18px; color: #515A5F;  margin-bottom: 10px;}



.lightbox-content1 {font-size: 14px; color: #515A5F;}





.lightbox-head{font-size: 36px; line-height: 45px; color: #e61d25; font-family: 'Raleway', sans-serif; padding-top: 0em;}



.fhco-para{ color: #515a5f;  font-size: 14px; line-height: 18px;}



.Service-box1{ margin-left: -39px;}



.lightbox-box2 h4  { margin: 6px 0 5px 0;  font-size: 16px; color: #515A5F;     line-height: 24px;}

.lightbox-box2 ul li {color: #ac0000!important;}



.lightbox-text p{ margin-bottom:0.4em;}

.row-pb-bt {padding-bottom: 1em !important;}

.fh5co-intro{margin-left: 2em;}

/* The Close Button */

.close {

  color: white;

  position: absolute;

  top: 10px;

  right: 25px;

  font-size: 35px;

  font-weight: bold;

}

.close:hover,

.close:focus {

  color: #fff;

  text-decoration: none;

  cursor: pointer;

}



.bot-box p{margin-bottom: 0px;}



.bot-box{color: #fff!important; display: block; cursor: pointer; top: -39px;  font-size: 40px; right: -28px;

    padding: 5px;  text-decoration: none;  position: absolute;font-weight:normal; opacity: 0.4; }

.fh5co-modalbox{ margin-top:2em; }

.fh5co-modalbox1{ margin-top:12em; }



.modal-backdrop.in { opacity: .4;}



.Res-img {height:411px;}



.heading-section {

    padding-top: 0em;

    padding-bottom: 0em;

    margin-bottom:0em;

}

.numbertext {

    color: #f2f2f2;

    font-size: 14px;

    padding: 8px 12px;

    position: relative;

    bottom: 0;

	text-align: center;

}





.box-space{padding-left: 0px;

    padding-right: 0px;}



.btn-world{margin-bottom: 10px;}

.active-btn{



	    box-shadow: none;

    background: #ff1720 !important;

    color: #ffffff !important;

	border-color: #ff1720 !important



}



.youtube-popup > div {

  position: absolute;

  width: 560px; /* equal to the iframe width */

  height: 315px; /* equal to the iframe height */

  top: 0;

  z-index: 100;

}

.padd20{

    padding:50px 25px 80px 35px;

}

.addrss-color{

  font-size: 0.9em;

  color: #515A5F;

}

.thumb-txt{

  text-align: center;

  color: #515A5F;

  font-size: 0.7em;

}

.mob-width{

  margin: 0px auto;

  display: block;

}

.mar20{

  margin-left:-20px;

}

.mobbar{

    display:none!important;

}

.mobbar1{

    display:block!important;

}

.mobbar80{

    display: none!important;

}

.mar-top{

    margin-top: 10em;

    margin-bottom: 8em;

}

.dashed-border{

border: 1px dashed #cccccc;

}

.sitemap-pad{

    margin: 46px 70px;

    padding: 0px 10px;

}

.width10{

    width: 10%;

    float: left;

}

.width20{

    width: 16%;

    float: left;

}

.sitemap-txt{

    color: #e61d25;

    font-size: 1.1em;

    text-transform: uppercase;

    font-weight: bold;

    cursor: pointer;

}

.sec-list {

    list-style-type: none;

    padding: 0px;

    display: block;

}



.sec-list li {

    display: block;

    color: #5f5f5f!important;

    padding: 1px 0px;

}

.sec-list a {

    color: #5f5f5f!important;

    text-decoration: underline;

}

.foo-sec{

    list-style-type: none;

    color: #000!important;

}

.foo-cnt{

    background-color: #e14751;

}

.p-b-20{
    padding-bottom: 20px;
}
.con-addr-cus{
    padding-left: 150px;
}

.pad-t-em{
    padding-top: 7em !important;
}

.newsle{
    margin-bottom: 40px;
}
@media only screen and (max-width:2560px) {}



@media only screen and (max-width: 1920px) {}



@media only screen and (max-width: 1600px) {}



@media only screen and (max-width: 1366px) {

.botpadd {

    height: 68.9vh;

}



.botpadd1 {

    height: 68.9vh;

}

.content-box {

    height: 22vh;

}



 }





@media only screen and (min-width: 788px) and (max-width: 1024px){



.fh5co-modalbox {

    margin-top: 13em;

}



.botpadd {

    height: 35.9vh;

}

.botpadd1 {

    height: 35.9vh;

}

.content-box {

    height: 9vh;

}



}



@media screen and (max-width:767px){

.fh5co-contact-info ul li {
        margin: 0 0 15px;
    }

.box-space{padding-left: 15px;

    padding-right: 15px;}



.content-box {

    height: 13vh;

}

.botpadd {

    height: 40.9vh;

}

.botpadd1 {

    height: 40.9vh;

}

	.award-mob{

		text-align:center;

	}

	.testi-sec{

	display:inline-block;

}

.award-1 {

    margin-left: 0em;

}

.pad-mob20{

    margin: 0px 35px;

}

.padd20{

    padding: 10px;

}

.mob-img{

    margin: auto;

    display: block;

    width: 90%;

}

.mob-width{

  width: 45px;

  height: 45px;

}

}



@media screen and (max-width:768px){
.cn-frm-cus {
    margin-bottom: 15px;
}
.con-addr-cus {
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 28px;
}
   .mobbar{

    display:block!important;

}

.mobbar1{

    display:none!important;

}

.mobbar80{

    display: block;

} 

.width10, .width20 {

    width: 100%;

    float: left;

    display: block;

    padding-left: 40px;

}

.sitemap-pad {

    padding: 10px 0px;

    margin: 0px;

    border: 1px dashed #cccccc;

}

.dashed-border {

     border: none; 

}

.mar-top {

    margin-top: 9em;

    margin-bottom: 8em;

}

}

@media screen and (max-width:767px){  .fh5-btm{margin-top: 1em!important;}}

@media screen and (max-width: 480px){



.lightbox-video{ width: 100%; height:auto;}



.bot-text p { margin-bottom: 0px!important; margin-top: 8px;}



.bot-text{color: #515a5f !important;  font-size: 13px; line-height: 16px; padding-left: 0px;

    padding-right: 0px;     margin-bottom: 5px;}



.bot-text1{color: #993333 !important;  font-size: 13px; line-height: 16px; padding-left: 0px;

    padding-right: 0px;     margin-bottom: 5px;}

.res-fh5co{ margin-top: 4em;}

.modal-bttm{ padding: 5px 5px 5px 5px;}



.fh5co-head{ top: 5em;}

.fh5co-padd{ margin-left: 0em; margin-right: 0em;}

.fg5co-res{ padding-left: 0px;  padding-right: 0px;}

.bot-box {

    color: #fff!important;

    display: block;

    cursor: pointer;

    top: -37px;

    font-size: 40px;

    right: -5px;

    padding: 5px;

    text-decoration: none;

    position: absolute;

    font-weight: normal;

    opacity: 0.4;

}

.lightbox-box-1 {

    font-size: 24px!important;

    line-height: 31px;

    color: #ac0000;

    font-family: 'Raleway', sans-serif;

    padding-top: 0em;

}

.box-space{padding-left: 0px; padding-right: 0px;}



.mob{display:none;}



.lightbox-box2 h4 {

    margin: 6px 0 5px 0;

    font-size: 14px;

    color: #515A5F;

    line-height: 24px;

}

.lightbox-content p {

    font-size: 14px;

    color: #515A5F;

	padding-top: 1em;

}



.lightbox-head p{font-size: 27px;

    line-height: 32px;

    color: #ac0000;

    font-family: 'Raleway', sans-serif;

    padding-top: 0em;}



.botpadd {

    height: 57.9vh;

    font-size: 16px;

}

.botpadd1 {

    height: 55.9vh;

    font-size: 16px;

}

.content-box {

    height: 19vh;

}

.Res-img{height: auto;}





}





@media screen and (max-width: 414px){





.content-box {

    height: 19vh;

}

.fh5co-modalbox {

    margin-top: 3em;}



.fh5co-modalbox1 {

    margin-top: 3em;}

}



@media screen and (max-width: 375px){

.botpadd {

    height: 60.9vh;

    font-size: 16px;

}

.botpadd1 {

    height: 60.9vh;

    font-size: 16px;

}

}



@media screen and (max-width: 360px){

.botpadd {

    height: 60.9vh;

	font-size: 15px;

}

.botpadd1 {

    height: 62.9vh;

	font-size: 15px;

}

}





@media screen and (max-width: 320px){

.botpadd {

    height: 82.9vh;

    font-size: 15px;

}

.fh5co-head {

    top: 3em;

}



.botpadd1 {

    height: 78.9vh;

    font-size: 15px;

}

}





@media screen and (max-width: 480px){

.botpadd1 {

    height: 90.9vh !important;

    font-size: 16px;

}

.botpadd {

    height: 71.9vh;

    font-size: 16px;

}

}

@media screen and (max-width: 767px){
    .cn-frm-cus {
    margin-bottom: 15px;
}
.con-addr-cus {
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 28px;
}

.botpadd1 {

    height: 69.9vh;

}

.content-box {

    height: 20vh;

}

 .blog-video{

	 width:100% !important;

 }

 .lightbox-head{

  padding-top: 25px;

 }

.mobbar{

    display:block!important;

}

.mobbar1{

    display:none!important;

}

.mobbar80{

    display: block;

}

}

@media only screen and (max-width: 1024px) and (min-width: 788px){

.botpadd {

    height: 65.9vh;

}

.botpadd1 {

    height: 65.9vh;

}

.content-box {

    height: 24vh;

}

}

@media only screen and (max-width: 1366px){

.botpadd {

    height: 83.9vh;

}

.botpadd1 {

    height: 83.9vh;

}

}

